body{
    background: url(../Imagenes_Referencia/ParedLadrillo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    background-color: brown;
    background-position: center 30px;
}

/* div{
    background: url(../Imagenes_Referencia/ParedLadrillo.jpg);
    height: 300px;
    color: white;
    background-repeat: no-repeat;
} */