/* ul {
    /*pa cambiar el punto de elemento en la lista
    list-style: square;
    list-style-position: outside;
    background: #ccc;
} */
/* 
ol{
    /*Esta sive pa cambiar el numero de ordenamiento en la lista*/
    /* list-style-type: decimal-leading-zero;

    
    list-style-type: lower-latin;
} */

.Menu{
    width: 100%;
    background: gray;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.Menu li{
    display: inline-block;
}

.Menu li a {
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
}

.Menu li a:hover{
    background: #ccc;
    color: black;
}